# Dependencies
node_modules

# npm error logs
npm-error.log
logs/

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# build folder
dist

# Uploaded files (keep .gitkeep)
uploads/*
!uploads/.gitkeep
